Q1. In the below elements which of them are values or an expression?
eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+

In [ ]:
* (star or aestric operator) we use this operator for multiplying.
'hello' it is a string.
-87.8 Float
- Substratcion Operator
/ Divison Operator
+ Addition Operator

Q2. What is the difference between string and variable?

In [ ]:
A variable is a store of information and string is a type of variable we used to store in a variable.
String is used to represent in words enclosed with ""
Example -
A = "monu"
here A is variable and we declared it as a string

Q3. Describe three different data types?

In [ ]:
1. Numeric Data Types - 
    (a) int - used to store data in numeric form. example X = 11
    (b) float - used to store data in numeric form with decimal also. example X = 11.11
    (c) complex - used to store data in real or imaginary form. example X = 2j
2. Text Data Type -
    (a) string - string is used to represent in words and enclosed with "" to store data in a variable
3. Sequence Data Type -
    (a) list - used to store multiple data items in a single variable. example X = ["monu" , "sunil" , "jakhar"]
    (b) tuple - used to store multiple data items in a single variable. example X = ("monu" , "sunil" , "jakhar")
    (c) range - it returna a sequence of numbers, starting from 0 by default and increment by 1 and it stops before a specified number. X = range(6)

Q4. What is an expression made up of? What do all expressions do?

In [ ]:
Expressions are made up of operators and operands. Expressions are used to produce some other value.

Q5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
Expressions are specific in meaning whereas statement is two sided excution.
Example - when we use loop in statements so there will be condition like this or else this.
So statement can be of a line or a block of codes.

Q6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [ ]:
After running first code bacon = 22 
Now, bacon conatins numeric value 22 and then in second code we added 1 in this.
After running second code bacon + 1 we get 23 because we assigned the 22 value as bacon in first code

Q7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [ ]:
'spam' + 'spamspam' = 'spamspamspam' addition
'spam' * 3 = 'spamspamspam' multiplying

Q8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
Eggs is valid variable name while 100 is invalid because variables cannot begin with number.

Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
integer = int()
floating point number = float()
string version of value = str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos

In [ ]:
This expression causes an error because we are adding different data types (string with integers)
We can fix by putting 99 in enclosed '99'

'i have eaten' + '99' + 'nurritos' 
Output will be - 
'i have eaten99nurritos'